header{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    overflow: hidden;

    background:
        linear-gradient(rgba(6,12,22,0.82), rgba(6,12,22,0.90)),
        url("images/network-bg.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header .container{
    position: relative;
    z-index: 2;
}

header h1{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

header p{
    font-size: 22px;
    color: #d0d8e5;
}

.btn{
    margin-top:25px;
    display:inline-block;
    padding:14px 30px;
    background:#0ea5ff;
    color:#fff;
    text-decoration:none;
    border-radius:8px;
    transition:.3s;
}

.btn:hover{
    background:#0084d6;
    transform:translateY(-3px);
}
